@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0px;
}

.background-container{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png");
    background-size: cover;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    /* text-align: center; */
}

.card{
    background-color: #000000e6;
    border-radius: 15px;
    width: 80vw;
    padding: 25px;
    margin: 35px;

}

.heading{
    color: #ffffff;
    font-family: "Bree Serif";
}

.para{
    color: #ffffff;
    font-family: "Roboto";
}

.button-card{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px; */
    text-align: center;
    padding-bottom: 40px;
    /* width: 450px */
}

.button{
    width: 150px;
    /* margin: 20px; */
}